.App {
  text-align: center;
  height: 99vh;
  background-color:#D5C5C8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.icon {
  font-size: 40px;
  margin-left: 10px;
}

.fab{
   grid-column: 2;
    grid-row: 3;
    margin: auto;
  align-self: end;
}