.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8%;
    margin-bottom: -5%;
    margin-top: 2%;
}

.firstSection h1 {
    margin:26% 0;
}

.firstSection {
    background-color: #F2D5F8;
    justify-content: center;
    align-content: center;
    height: 34vh;
    border: 1px solid white;
}

.secSection p {
    margin: 10%;
    font-size: 18px;
}

.secSection {
    background-color: #FFEDE1;
    justify-content: center;
    align-content: center;
    height: 34vh;
    border: 1px solid white;

}

.fourthSection h1 {
    margin: 26% 0;
}

.thirdSection {
    background-color: #FFEDE1;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
}

.fourthSection {
    background-color: #F2D5F8;
    justify-content: center;
    align-content: center;
    height: 34vh;
    border: 1px solid white;

}

.skill-name{
font-size: 10px;
font-weight: bolder;
}

.skill-icon svg {
    width: 60px;
}

@media only screen and (max-width: 900px){
  .main-container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  .firstSection h1 {
      margin-top: 13vh;
  }
  .secSection p {
      margin: 10%;
  }
   .thirdSection {
    background-color: #FFEDE1;
    padding-left: 5%;
   }
   .fourthSection {
    background-color: #F2D5F8;
    grid-row-start: 3;
   }
   .fourthSection h1{
       margin-top: 10vh;
   }
    } 