.fab{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: end;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6px;
}


@media only screen and (max-width: 700px){
    .fab{
    position: unset;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    align-self: end;
    right: 0; 
     bottom: -12vh; 
    left: 0;
    padding: 6px;
    }
      } 