.intro {
  min-height: 48vh;
    font-size: 50px;
    color: ghostwhite;
    /* grid-row: 2;
    grid-column: 1 / 4; */
    margin-top: 35vh;
    z-index:20;
  }

  .displayIntro{
    margin-top: -15%;
    font-size: 40px;
    float: left;
    border: 2px solid ghostwhite;
    margin-left: 5%;
    padding: 1%;
  }