.intro {
  font-size: 50px;
  color: ghostwhite;
  z-index: 20;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.displayIntro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2%;
  height: 100%;
  align-content: center;
}

.bio {
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-left: 5%;
  padding: 1%;
}

#me {
  width: 20vw;
  border-radius: 45%;
  border: 5px solid #A288A6;

}

#me:hover {
  transform: scaleX(-1);
}

@media only screen and (max-width: 700px) {
  /* .intro {
    margin-top: 68%;
  } */

  .displayIntro {
    display: flex;
    flex-direction: column;
    margin-top: 60%;
  }

  .bio {
    margin-top: -45%;
    margin-left: 0%;
  }

  #me {
    width: 35vw;
  }
}