.mainContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    margin: 2.5%;
}

.projects-container {
    background-color: transparent;
    width: 300px;
    height: 250px;
    border: 1px solid black;
    perspective: 1000px;
}

.projectCard {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.projects-container:hover .projectCard {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

 
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    text-align: center;
  }

.project-img{
    width: 300px;
    height: 250px;
}

.title{
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-color: white;
    position: relative;
    z-index: 10;
    width: 100%;
    text-shadow: 10px 10px 10px black;
    color: white;
    background-color: #0000008c;
}

.ref{
    display: inline-block;
    margin-right: 2%;
}

@media only screen and (max-width: 700px){
    .mainContainer{
      position: relative;
    }
    .project-img{
        object-fit: cover;
    }
      } 